version: "2"
services:
  db:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=pass123
      - MYSQL_DATABASE=mywords
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pass123
    ports:
      - 4222:3306
  app:
    build:
      context: .
    ports:
      - 4220:8080
      - 4221:9990
    depends_on:
      - db
    links:
      - db
    dns: 8.8.8.8